<div class="welcome">
  <p><a target="_blank" href="http://<%= request.host %>:15672/">
    RabbitMQ Admin(guest/guest)
  </a></p>

  <p><a target="_blank" href="/releases/">All Releases</a></p>

  <p><a target="_blank" href="/packlist/">Search Package</a></p>
  <p><a target="_blank" href="/ubuntu/">Upload ubuntu 'dpkg -l' file</a></p>
</div>

